@font-face {
  font-family: 'Circular Std';
  src: url("/fonts/CircularStd-Medium.woff2") format("woff2"), url("/fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  src: "../fonts/BigSquareDots.ttf";
  font-family: 'BigSquareDots'; }

.heading-1 {
  font-size: 54px;
  font-weight: 500;
  font-family: "BigSquareDots", sans-serif;
  text-transform: uppercase; }

.heading-2 {
  font-size: 45px;
  font-weight: 500;
  font-family: "Circular Std";
  line-height: 1.3;
  color: #2e2b3d;
  letter-spacing: .1px; }

.heading-3 {
  font-size: 36px;
  font-family: "Circular Std";
  color: #2e2b3d;
  font-weight: 500;
  line-height: 1; }

.entry-content {
  font-size: 20px;
  color: #2e2b3d;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: .5px; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: none !important; }

html {
  font-family: "Lato", sans-serif; }

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1230px; } }

.header__top {
  background-color: #2e2b3d; }

.header__top-container {
  display: flex;
  justify-content: space-between; }

.header__top-company {
  font-size: 14px;
  color: #d8ebf7;
  padding: 6px 9px 8px 9px;
  letter-spacing: .6px; }

.header__bottom {
  background-image: url(/img/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 17px; }

.header__nav {
  background-color: transparent;
  border-bottom: 0.5px solid #2e2b3d;
  padding-bottom: 16px; }

.header__nav-container {
  display: flex;
  justify-content: space-between;
  padding-right: 9px; }

.header__nav-logo {
  padding: 0 3px; }

.header__nav-finder {
  padding-top: 10px;
  margin-left: 48px; }

.subNav {
  list-style: none;
  display: flex;
  padding: 3px 10px 0 10px; }

.subNav__item {
  letter-spacing: .4px; }
  .subNav__item:not(:last-child) {
    padding: 0 22px 0 3px; }

.subNav__link--res {
  position: relative;
  margin-right: 15px; }
  .subNav__link--res::after {
    content: '\f078';
    position: absolute;
    top: 4px;
    right: -16px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 9px; }

.subNav__link--acc {
  position: relative; }
  .subNav__link--acc::after {
    content: '\f078';
    position: absolute;
    top: 4px;
    right: -18px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 9px; }

.subNav__link, .subNav__link:link, .subNav__link:active, .subNav__link:visited {
  text-decoration: none;
  color: #d8ebf7;
  font-size: 14px; }

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between; }
  .nav i {
    font-size: 17px; }

.navItem {
  padding: 21px 41px 27px 41px;
  position: relative; }
  .navItem::after {
    content: '';
    width: 0;
    height: 4px;
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%);
    bottom: -16px;
    left: 0; }
  .navItem:hover::after {
    opacity: 1;
    width: 100%; }
  .navItem:hover .navLink {
    color: #ffd86a; }
  .navItem:last-child {
    padding-right: 0;
    padding-left: 30px; }

.navLink, .navLink:link, .navLink:active, .navLink:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  letter-spacing: 1px; }

.cover {
  margin-top: 112px;
  padding-bottom: 137px; }

.cover__info {
  padding-left: 24px; }

.cover__info-span {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  letter-spacing: .3px; }

.cover__info-img {
  margin-top: 47px; }

.cover__info-btn {
  margin-top: 53px;
  padding-top: 6px;
  height: 70px;
  display: flex;
  align-items: center; }
  .cover__info-btn span {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    letter-spacing: .8px;
    margin-right: 40px; }

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translateX(-50%);
  list-style: none; }
  .slick-dots button {
    display: block;
    border: 1px solid black;
    border-radius: 50%;
    background-color: transparent;
    height: 7px;
    width: 7px;
    margin: 0 4px; }
  .slick-dots li.slick-active button {
    background-color: black; }
  .slick-dots li button {
    font-size: 0; }

.slick-arrow {
  bottom: -84px;
  height: 30px;
  width: 30px;
  font-size: 0;
  border: none;
  transform: translateX(-51%); }

.slick-prev {
  position: absolute;
  background-color: transparent; }
  .slick-prev::before {
    content: '\f060';
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: -1px;
    left: -7px;
    z-index: 3;
    color: black; }
  .slick-prev::after {
    content: '';
    position: absolute;
    top: -17px;
    left: -26px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black; }

.slick-next {
  position: absolute;
  background-color: transparent; }
  .slick-next::before {
    content: '\f061';
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: -1px;
    left: 24px;
    z-index: 3;
    color: black; }
  .slick-next::after {
    content: '';
    position: absolute;
    top: -17px;
    left: 6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black; }

.tabSection {
  margin-top: 84px; }

.tabSection__heading {
  text-align: center; }

.tabsList {
  margin-top: 60px; }

.tabsList__tabs {
  list-style: none; }

.tabsList__item {
  text-align: center;
  padding-right: 0;
  position: relative; }
  .tabsList__item:first-child {
    padding-left: 25px; }

.tabsList__link, .tabsList__link:visited, .tabsList__link:link, .tabsList__link:active {
  text-decoration: none;
  font-size: 20px;
  color: #2e2b3d;
  font-weight: 700;
  line-height: 1.2;
  padding: 30px 40px 30px 78px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .tabsList__link::after, .tabsList__link:visited::after, .tabsList__link:link::after, .tabsList__link:active::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 99.5%;
    background-color: black; }
  .tabsList__link:hover::after, .tabsList__link:visited:hover::after, .tabsList__link:link:hover::after, .tabsList__link:active:hover::after {
    transition: .3s ease;
    height: 7px;
    background: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%);
    bottom: -8px; }

.tab-active {
  transition: .3s ease; }
  .tab-active::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 7px;
    background: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%);
    bottom: -8px;
    width: 100%;
    z-index: 2; }

.tabsList__link-icon {
  position: absolute;
  font-size: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Pro";
  color: #2e2b3d; }

.icon-bulb {
  left: 51px; }
  .icon-bulb::before {
    content: '\f0eb'; }

.icon-headset {
  left: 94px; }
  .icon-headset::before {
    content: '\f590'; }

.icon-tool {
  left: 75px; }
  .icon-tool::before {
    content: '\f0ad'; }

.tabsWrap__content {
  padding-left: 21px; }

.tabsWrap__heading {
  margin-top: 82px; }

.tabsWrap__text {
  margin-top: 40px;
  max-width: 410px; }

.tabsWrap__contact {
  margin-top: 41px; }

.tabsWrap__contact-link, .tabsWrap__contact-link:link, .tabsWrap__contact-link:visited, .tabsWrap__contact-link:active {
  text-decoration: none;
  color: #2e2b3d;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -.5px;
  margin-right: 22px; }

.tabsWrap__btn {
  margin-top: 93px;
  padding-left: 5px; }

.tabsWrap__img {
  display: flex;
  justify-content: center; }

.slider {
  padding: 0;
  margin-bottom: 165px; }
  .slider .slick-prev {
    left: 49%; }
  .slider .slick-next {
    left: 53%; }
  .slider .slick-dots {
    bottom: -83px;
    left: 51%; }

.slider__container {
  width: 100%;
  max-width: 1870px;
  margin: 72px 0 0 0; }

.slider__wrap {
  padding-left: 20px;
  padding-right: 0; }

.slider__box {
  background-color: #eff2f4;
  position: relative;
  width: 450px;
  min-width: 250px;
  height: 700px;
  flex: 1;
  transition: .3s ease; }
  .slider__box::before {
    content: '';
    height: 100%;
    width: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%); }
  .slider__box:hover {
    background-color: #1e1b2c; }
    .slider__box:hover .slideHeading {
      color: #ffd86a; }
    .slider__box:hover .slideDesc {
      color: #fff; }
    .slider__box:hover .slideBtn {
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%); }
    .slider__box:hover .slideIcon img:last-child {
      display: block; }
    .slider__box:hover .slideIcon img:first-child {
      display: none; }
    .slider__box:hover .slideIcon::before {
      background: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%); }
    .slider__box:hover .slideIcon::after {
      background: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%); }

.slider__slide {
  padding: 30px 50px 30px 35px; }

.slick-slide {
  margin: 0 16px 0 33px; }

.slick-list {
  margin: 0 -27px; }

.slider__slide-img {
  height: 350px;
  padding-top: 50px;
  margin-bottom: 20px; }

.slideImg {
  max-height: 320px;
  width: 260px;
  max-width: 100%;
  margin: 0 auto;
  display: block; }

.slider__slide-content-top {
  height: 125px;
  margin-bottom: 25px;
  margin-top: 67px; }

.slideHeading {
  margin-bottom: 15px;
  letter-spacing: .7px; }

.slideDesc {
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 24px;
  line-height: 1;
  letter-spacing: .4px; }

.slider__slide-content-bottom {
  margin-top: 35px;
  position: relative; }

.about {
  max-width: 1620px;
  margin-top: 118px; }

.about__row {
  padding-top: 50px; }

.about__content {
  padding: 0 35px 0 130px;
  margin-left: 91px; }

.about__content-wrap {
  margin-top: 174px; }

.about__content-heading-wrap {
  position: relative; }

.about__content-heading-logo {
  position: absolute;
  right: 48px;
  top: -47px;
  z-index: -1; }

.about__content-heading {
  padding-bottom: 41px; }

.about__content-text {
  font-size: 18px;
  color: #2e2b3d;
  max-width: 435px;
  letter-spacing: .4px; }

.about__content-btn {
  margin-top: 70px; }

.about__imgs {
  display: flex;
  align-items: center;
  max-width: 50%; }

.about__imgs-container {
  display: flex;
  align-items: center; }

.about__imgs-right {
  display: flex;
  flex-wrap: wrap; }

.about__imgs--1 {
  min-width: 225px;
  margin-right: 20px; }
  .about__imgs--1 img {
    max-width: 103%; }

.about__imgs--2 {
  max-width: 477px;
  margin-bottom: 20px; }
  .about__imgs--2 img {
    max-width: 100%; }

.about__imgs--3 {
  width: 50%;
  padding-right: 25px; }
  .about__imgs--3 img {
    max-width: 100%; }

.about__imgs--4 {
  width: 50%; }
  .about__imgs--4 img {
    max-width: 100%; }

.process {
  margin-top: 142px;
  position: relative;
  height: 722px;
  display: flex;
  align-items: center; }

.process__wrap {
  display: flex;
  justify-content: flex-end; }

.process__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.process__content {
  z-index: 2;
  max-width: 533px;
  width: 100%;
  padding-left: 11px; }

.process__content-heading {
  margin-bottom: 25px; }

.process__content-text {
  font-size: 22px;
  color: #2e2b3d;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 76px; }

.spotlight {
  margin-top: 137px; }
  .spotlight .slick-prev {
    top: -89px;
    right: 86px; }
  .spotlight .slick-next {
    top: -89px;
    right: 3px; }
  .spotlight .slick-dots {
    top: -83px;
    right: 45px; }

.spotlight__wrap {
  margin-top: 50px;
  position: relative; }

.spotlight__slide {
  background-color: #eff2f4;
  padding: 27px 25px 42px;
  height: 404px;
  transition: .3s ease; }
  .spotlight__slide:hover {
    background-color: #2e2b3d;
    transition: .3s ease; }
    .spotlight__slide:hover .spotlight-rfba,
    .spotlight__slide:hover .spotlight__slide-top-right,
    .spotlight__slide:hover .spotlight__slide-bottom-left,
    .spotlight__slide:hover .spotlight__slide-bottom-right {
      color: #fff;
      transition: .3s ease; }
    .spotlight__slide:hover .spotlight__slide-bottom-acrylic::before {
      background-image: url(/img/acrylic-white.png); }
    .spotlight__slide:hover .spotlight__slide-bottom-steel::before {
      background-image: url(/img/steel-white.png); }
    .spotlight__slide:hover .spotlight__slide-hover-icons {
      display: block;
      transition: .3s ease; }

.spotlight__slide-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.spotlight__slide-top {
  display: flex;
  justify-content: space-between;
  padding-left: 10px; }

.spotlight-rfba {
  font-size: 30px;
  color: #2e2b3d;
  display: block; }

.spotlight-color {
  color: #fff;
  padding: 0 13px;
  border-radius: 4px;
  font-size: 14px;
  display: block; }

.spotlight-color--bronze {
  background-color: #d78772; }

.spotlight-color--silver {
  background-color: #6c6b78;
  padding: 0 9px; }

.spotlight__slide-top-right {
  padding-top: 3px;
  letter-spacing: .2px; }
  .spotlight__slide-top-right span {
    font-size: 14px; }

.spotlight__slide-mid {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%); }

.spotlight__slide-img {
  margin: 0 auto;
  width: 100%; }

.spotlight__slide-hover-icons {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: none; }
  .spotlight__slide-hover-icons img {
    padding: 15px 0;
    border-radius: 50%; }

.spotlight__slide-hover-icons--1:hover img {
  transform: rotate(360deg);
  transition: .5s ease; }

.spotlight__slide-hover-icons--1 img {
  cursor: pointer; }

.spotlight__slide-hover-icons--1::before {
  content: '\f56c';
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 40px;
  right: 9px;
  transform: translate(-50%, -50%); }

.spotlight__slide-hover-icons--2:hover img {
  transform: rotate(360deg);
  transition: .5s ease; }

.spotlight__slide-hover-icons--2 img {
  cursor: pointer; }

.spotlight__slide-hover-icons--2::before {
  content: '\f07b';
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 4px;
  transform: translate(-50%, -50%); }

.spotlight__slide-bottom {
  display: flex;
  justify-content: space-between; }

.spotlight__slide-bottom-left {
  font-size: 16px;
  font-weight: 600;
  padding-left: 13px; }

.spotlight__slide-bottom-acrylic {
  position: relative;
  padding-left: 40px; }
  .spotlight__slide-bottom-acrylic::before {
    content: '';
    background-image: url(/img/acrylic.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0; }

.spotlight__slide-bottom-right {
  font-size: 16px;
  font-weight: 600; }

.spotlight__slide-bottom-steel {
  position: relative;
  padding-left: 40px; }
  .spotlight__slide-bottom-steel::before {
    content: '';
    background-image: url(/img/steel.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0; }

.green {
  background-color: #191723;
  margin-top: 153px;
  padding-bottom: 125px; }

.green__container {
  padding-top: 60px; }

.green__content {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.green__content-heading {
  margin-top: 67px;
  padding-left: 7px; }
  .green__content-heading h2 {
    color: #fff !important; }

.green__content-text {
  color: #fff;
  padding-left: 10px;
  margin-top: 30px;
  max-width: 440px; }
  .green__content-text p {
    margin-bottom: 35px; }

.green__content-logos {
  margin-top: 47px;
  padding-left: 10px; }
  .green__content-logos img {
    margin-right: 35px; }

.green__content-btn {
  margin-top: 47px; }

.green__imgs {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: 77px;
  padding-right: 6px; }

.green__imgs-asl {
  display: flex;
  flex-direction: column;
  text-align: center; }

.green__imgs-asl-text {
  font-size: 24px;
  font-weight: 500;
  width: 95%;
  margin-top: 28px;
  line-height: 1.3; }

.green__imgs-asl-energy {
  margin: 0 auto;
  margin-top: 43px;
  padding-right: 10px; }

.green__imgs-standard {
  display: flex;
  flex-direction: column;
  text-align: center; }

.green__imgs-standard-text {
  font-size: 24px;
  font-weight: 500;
  margin-top: 28px; }

.green__imgs-standard-energy {
  margin: 0 auto;
  margin-top: 66px;
  padding-left: 15px; }

.reviews {
  padding-top: 118px;
  position: relative; }
  .reviews .slick-prev {
    bottom: 35px;
    left: -245px; }
  .reviews .slick-next {
    bottom: 35px;
    left: -170px; }
  .reviews .slick-dots {
    bottom: 37px;
    left: -209px; }

.reviews__left-quote {
  margin-top: 20px; }

.reviews__left-heading {
  margin-top: 47px;
  padding-left: 6px; }
  .reviews__left-heading h2 {
    letter-spacing: 2.1px !important; }

.reviews__right {
  padding-left: 0; }

.reviews__slide {
  padding: 75px 45px;
  height: 449px;
  transition: .3s ease; }
  .reviews__slide:hover {
    background-color: #191723;
    transition: .3s ease; }
    .reviews__slide:hover .reviews__slide-top-title,
    .reviews__slide:hover .reviews__slide-text,
    .reviews__slide:hover .reviews__slide-bottom-btn {
      color: #fff;
      transition: .3s ease; }
    .reviews__slide:hover .reviews__slide-bottom-btn::before {
      background: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%); }
    .reviews__slide:hover .reviews__slide-bottom-btn::after {
      background: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%); }

.reviews__slide-top-title {
  font-size: 30px;
  font-family: "Circular Std";
  color: #2e2b3d;
  display: block;
  line-height: 1.2; }

.reviews__slide-text {
  margin-top: 34px; }

.reviews__slide-bottom {
  margin-top: 45px;
  letter-spacing: 1.2px; }

.clients {
  margin-top: 143px; }
  .clients .slick-prev {
    top: -78px;
    right: 86px; }
  .clients .slick-next {
    top: -78px;
    right: 3px; }
  .clients .slick-dots {
    top: -73px;
    right: 45px; }

.clients__top-heading {
  padding-left: 13px; }

.clients__wrap {
  margin-top: 37px;
  position: relative; }

.clients__slide-content {
  height: 200px;
  display: flex;
  align-items: center; }

.clients__slide-img {
  margin: 0 auto; }

.btn,
.slideBtn {
  outline: none !important; }
  .btn, .btn:link, .btn:active, .btn:visited,
  .slideBtn,
  .slideBtn:link,
  .slideBtn:active,
  .slideBtn:visited {
    position: relative;
    text-decoration: none;
    display: inline-block;
    border: 0;
    font-size: 14px;
    letter-spacing: 1.3px;
    transition: .3s ease;
    text-align: center; }

.btn, .btn:link, .btn:active, .btn:visited {
  border-radius: 100px;
  background-color: #2e2b3d;
  color: #fff; }
  .btn:hover, .btn:link:hover, .btn:active:hover, .btn:visited:hover {
    color: #fff; }
    .btn:hover .btn__icon::before, .btn:link:hover .btn__icon::before, .btn:active:hover .btn__icon::before, .btn:visited:hover .btn__icon::before {
      top: 31%;
      transition: .3s ease; }
    .btn:hover .btn__icon::after, .btn:link:hover .btn__icon::after, .btn:active:hover .btn__icon::after, .btn:visited:hover .btn__icon::after {
      width: 0;
      transition: .3s ease; }

.btn--icon-left {
  padding: 18px 20px 18px 63px; }

.btn--icon-right {
  padding: 18px 60px 18px 20px; }

.btn__img {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  left: 33px;
  right: auto; }

.btn__icon {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  font-size: 29px;
  transition: .3s ease;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%); }
  .btn__icon::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%);
    top: 53%;
    left: 50%;
    transform: translate(-50%, -49%); }
  .btn__icon::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%);
    top: 56%;
    left: 50%;
    transform: translate(-50%, -49%); }

.btn__icon--left {
  left: 19px;
  right: auto; }

.btn__icon--right {
  right: 19px;
  left: auto; }

.slideBtn, .slideBtn:link, .slideBtn:active, .slideBtn:visited {
  padding: 18px 60px 18px 0;
  color: #2e2b3d; }
  .slideBtn:hover .slideIcon::before, .slideBtn:link:hover .slideIcon::before, .slideBtn:active:hover .slideIcon::before, .slideBtn:visited:hover .slideIcon::before {
    top: 25%;
    transition: .3s ease; }
  .slideBtn:hover .slideIcon::after, .slideBtn:link:hover .slideIcon::after, .slideBtn:active:hover .slideIcon::after, .slideBtn:visited:hover .slideIcon::after {
    width: 0;
    transition: .3s ease; }

.slideBtn:hover .slideIcon::before {
  top: 0;
  transition: .3s ease;
  background: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%); }

.slideBtn:hover .slideIcon::after {
  width: 0;
  transition: .3s ease;
  background: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%); }

.slideIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 29px;
  transition: .3s ease;
  color: #6c6b78; }
  .slideIcon img:last-child {
    display: none; }
  .slideIcon img:first-child {
    display: block; }
  .slideIcon::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: #6c6b78;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -49%); }
  .slideIcon::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #6c6b78;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -49%); }

.btn--finder {
  font-weight: bold;
  padding: 15px 20px 15px 74px;
  letter-spacing: 2px !important; }

.btn--chat {
  padding: 18px 125px 18px 33px; }

.btn--about {
  padding: 18px 76px 18px 27px; }

.btn--process {
  padding: 18px 62px 18px 36px; }

.btn--green {
  padding: 18px 60px 18px 39px; }

.reviews__slide-bottom-btn, .reviews__slide-bottom-btn:link, .reviews__slide-bottom-btn:active, .reviews__slide-bottom-btn:visited {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #2e2b3d;
  position: relative;
  text-decoration: none;
  display: block;
  padding-left: 5px; }
  .reviews__slide-bottom-btn::before, .reviews__slide-bottom-btn:link::before, .reviews__slide-bottom-btn:active::before, .reviews__slide-bottom-btn:visited::before {
    content: '';
    width: 17px;
    height: 2px;
    background-color: #2e2b3d;
    position: absolute;
    top: 11px;
    right: -12px; }
  .reviews__slide-bottom-btn::after, .reviews__slide-bottom-btn:link::after, .reviews__slide-bottom-btn:active::after, .reviews__slide-bottom-btn:visited::after {
    content: '';
    width: 2px;
    height: 17px;
    background-color: #2e2b3d;
    position: absolute;
    top: 4px;
    right: -4px; }
