footer {
    background-color: $color-primary;
    padding-top: 93px;

    @include responsive(md) {
        padding-top: 65px;
    }
}

.footer {
    padding-bottom: 87px;
    
    @include responsive(md) {
        padding-bottom: 40px;
    }
}

// Global footer title 
.footer__title {
    font-size: 14px;
    color: $color-footer-light;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;

    @include responsive(md) {
        border-top: 1px solid $color-primary-light;
        padding-top: 5px;
    }
}

// Global footer content margin

.footer__mt-content {
    margin-top: 43px;

    @include responsive(md) {
        margin-top: 15px;
    }
}

// Global footer link

.footer__link {
    &,
    &:link,
    &:visited,
    &:active {
        text-decoration: none;
        color: $white;
        font-family: $font-heading2;
        font-size: 14px;
        line-height: 2.5;
        font-weight: 400;
        transition: .3s ease;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer__list {
    list-style: none;
}

// Footer logo
.footer__logo {
    padding-left: 25px;

    @include responsive(md) {
        text-align: center;
        padding-bottom: 25px;
        padding-left: 0;
    }
}

.footer__logo-img {
    width: 96px;
}

// Footer address & social networks

.footer__address-wrap {
    width: 170px;
    margin-left: -20px;

    @include responsive(md) {
        margin: 0 auto;
        text-align: center;   
    }
}

.footer__address-social {
    font-size: 20px;
    color: $white;
    display: flex;
    justify-content: space-between;
    width: 118px;
    margin-top: 29px;

    &-twitter,
    &-instagram,
    &-facebook {
        opacity: .5;
        transition: .3s ease;
        cursor: pointer;

    &:hover {
        opacity: 1;
    }
    }

    @include responsive(md) {
        margin: 0 auto;
    }
}

// Footer nav
.footer__nav {
    @include responsive(md) {
        margin-top: 20px;
    }
}

.footer__nav-wrap {
    padding-left: 37px;

    @include responsive(md) {
        padding-left: 0;
        text-align: center;
    }
}


// Footer contact
.footer__contanct {
    @include responsive(md) {
        margin-top: 10px;
    }
}

.footer__contact-wrap {
    padding-left: 7px;

    @include responsive(md) {
        padding-left: 0;
        text-align: center;
    }
}

.footer__contact-content {
    @include responsive(ml) {
        margin-top: 20px !important;
    }
}

// Footer subscribe
.footer__sub {
    @include responsive(md) {
        margin-top: 10px;
    }
}

.footer__sub-wrap {
    padding-left: 32px;

    @include responsive(md) {
        text-align: center;
        padding-left: 0;
    }
}

.footer__sub-bottom {
    display: flex;
    margin-top: 43px;

    @include responsive(ml) {
        flex-direction: column;
    }
}

.footer__sub-bottom-input {
    background-color: $color-footer;
    font-family: $font-heading2;
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: $white;

    @include responsive(ml) {
        width: 240px;
    }

    @include responsive(md) {
        margin: 0 auto;
    }

    &::placeholder {
        color: $color-footer-light;
        font-family: $font-heading2;
    }
}

// Copyright
.copyright {
    border-top: 1px solid #252525;
    font-size: 14px;
    padding: 22px 0 1px;

    @include responsive(md) {
        text-align: center;
        padding: 14px 0;
    }

    @include responsive(xs) {
        font-size: 12px;
    }

    p {
        color: $color-footer-light;
        margin-left: 25px;

        @include responsive(md) {
            margin-left: 0;
            margin-bottom: 0;
        }
    }

    a {
        &,
        &:link,
        &:visited,
        &:active {
            color: $white;
        }
    }
}