// Header

// Header Top
.header__top {
    background-color: $color-primary-light;
}

.header__top-container {
    display: flex;
    justify-content: space-between;
}

.header__top-company {
    font-size: 14px;
    color: $light-blue;
    padding: 6px 9px 8px 9px;
    letter-spacing: .6px;

    @include responsive(ss) {
        font-size: 13px;
    }
}

// Header bottom

.header__bottom {
    background-image: url(/img/cover.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 17px;
}

.header__nav {
    background-color: transparent;
    border-bottom: .5px solid $color-primary-light;
    padding-bottom: 16px;
    position: relative;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    padding-right: 9px;

    @include responsive(ml) {
        justify-content: flex-start;
    }
}

.header__nav-logo {
    padding: 0 3px;
}

.header__nav-finder {
    padding-top: 10px;
    margin-left: 48px;

    @include responsive(xs) {
        display: none;
    }
}
