// Common class for btn and slidebtn
.btn,
.slideBtn {
    outline: none !important;

    &,
    &:link,
    &:active,
    &:visited {
        position: relative;
        text-decoration: none;
        display: inline-block;
        border: 0;
        font-size: 14px;
        letter-spacing: 2px;
        transition: .3s ease;
        text-align: center;
    }
}

// Specific class for btn
.btn {
    &,
    &:link,
    &:active,
    &:visited {
        border-radius: 100px;
        background-color: $color-primary-light;
        color: $white;

        &:hover {
            color: $white;
            
            .btn__icon::before {
                top: 25%;
                transition: .3s ease;
            }
    
            .btn__icon::after {
                width: 0;
                transition: .3s ease;
            }
    
        }
    }
}

// Btn classes
.btn--icon-left {
    padding: 18px 20px 18px 63px;
}

.btn--icon-right {
    padding: 18px 60px 18px 20px;
}

// Btn img 
.btn__img {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: 33px;
    right: auto;
}

// Btn icon
.btn__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 29px;
    transition: .3s ease;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: $gradient;

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 10px;
        background: $gradient;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -49%);
    }

    &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        background: $gradient;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -49%);
    }
}

// Position of icon in btn and slideBtn
.btn__icon--left {
    left: 21px;
    right: auto;
}

.btn__icon--right {
    right: 21px;
    left: auto;
}

// Specific class for slideBtn
.slideBtn {
    
    &,
    &:link,
    &:active,
    &:visited {
        padding: 18px 60px 18px 0;
        color: $color-primary-light;
        
        &:hover {
            
            .slideIcon::before {
                top: 25%;
                transition: .3s ease;
            }
    
            .slideIcon::after {
                width: 0;
                transition: .3s ease;
            }
    
        }
    }

    &:hover {
        .slideIcon {
            
            &::before {
                top: 25%;
                transition: .3s ease;
                background: $gradient;
            }

            &::after {
                width: 0;
                transition: .3s ease;
                background: $gradient;
            }
        }
    }
}

// Icon in slideBtn
.slideIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 29px;
    transition: .3s ease;
    color: $silver;

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 10px;
        background-color: $silver;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -49%);
    }

    &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        background-color: $silver;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -49%);
    }
}

// Single btn class
.btn--finder {
    font-weight: bold;
    padding: 15px 20px 15px 74px;
    letter-spacing: 2.3px;
}

.btn--chat {
    padding: 18px 125px 18px 33px;
}

.btn--about {
    padding: 18px 66px 18px 27px;
}

.btn--process {
    padding: 18px 61px 18px 25px;
}