// Common class for btn and slidebtn
.btn,
.slideBtn,
.btnWhite {
    outline: none !important;

    &,
    &:link,
    &:active,
    &:visited {
        position: relative;
        text-decoration: none;
        display: inline-block;
        border: 0;
        font-size: 14px;
        letter-spacing: 1.3px;
        transition: .3s ease;
        text-align: center;
    }
}

// Specific class for btn
.btn {
    &,
    &:link,
    &:active,
    &:visited {
        border-radius: 100px;
        background-color: $color-primary-light;
        color: $white;

        &:hover {
            color: $white;
            
            .btn__icon::before {
                top: 31%;
                transition: .3s ease;
            }
    
            .btn__icon::after {
                width: 0;
                transition: .3s ease;
            }
    
        }
    }
}

.btn--transparent {
    background-color: transparent !important;

    @include responsive(lg) {
        padding: 18px 5px 18px 56px !important;
    }

    @include responsive(ml) {
        width: 220px; 
        padding: 18px 20px 18px 63px;
    }

    @include responsive(md) {
        margin: 0 auto;
    }
}

.btn--dark {
    background-color: $color-primary !important;
}

.btnWhite {
    border-radius: 0;
    color: $color-primary-light;
    background-color: transparent;
    font-size: 16px !important;
    font-weight: 700 !important;

    &:hover {

        color: $color-primary-light;
        
        .btnWhite__icon::before {
            top: 31%;
            transition: .3s ease;
        }

        .btnWhite__icon::after {
            width: 0;
            transition: .3s ease;
        }

    }
}

// Btn classes - delete on the end TODO
.btn--icon-left {
    padding: 18px 20px 18px 63px;
}

.btn--icon-right {
    padding: 18px 60px 18px 20px;
}

// Btn img 
.btn__img {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: 33px;
    right: auto;
}

// Btn icon
.btn__icon {
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    font-size: 29px;
    transition: .3s ease;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: $gradient;

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 12px;
        background: $gradient;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -49%);
    }

    &::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 2px;
        background: $gradient;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -49%);
    }
}

// Position of icon in btn and slideBtn
.btn__icon--left {
    left: 19px;
    right: auto;
}

.btn__icon--right {
    right: 19px;
    left: auto;
}

// Specific class for slideBtn
.slideBtn {
    
    &,
    &:link,
    &:active,
    &:visited {
        padding: 18px 60px 18px 0;
        color: $color-primary-light;
        
        &:hover {
            
            .slideIcon::before {
                top: 25%;
                transition: .3s ease;
            }
    
            .slideIcon::after {
                width: 0;
                transition: .3s ease;
            }
    
        }
    }

    &:hover {
        .slideIcon {
            
            &::before {
                top: 0;
                transition: .3s ease;
                background: $gradient;
            }

            &::after {
                width: 0;
                transition: .3s ease;
                background: $gradient;
            }
        }
    }
}

// Icon in slideBtn
.slideIcon,
.btnWhite__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 29px;
    transition: .3s ease;
    color: $silver;

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 12px;
        background-color: $silver;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -49%);
    }

    &::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 2px;
        background-color: $silver;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -49%);
    }
}

.btnWhite__icon {
    top: 50%;
    right: 2px;
    left: auto;

    @include responsive(ss) {
        right: 17px;
    }

    &::before {
        top: 45%;
    }

    &::after {
        top: 45%;
    }
}

.slideIcon {

    img {
        &:last-child {
            display: none;
        }

        &:first-child {
            display: block;
        }
    }
}


// Single btn class
.btn--finder {
    font-weight: bold;
    padding: 15px 20px 15px 74px;
    letter-spacing: 2px !important;
}

.btn--chat {
    padding: 18px 125px 18px 33px;
}

.btn--about {
    padding: 18px 76px 18px 27px;
}

.btn--process {
    padding: 18px 62px 18px 36px;
}

.btn--green {
    padding: 18px 60px 18px 39px;
}

.btn--machine {
    padding: 18px 78px 18px 23px;
}

.btn--featured {
    padding: 18px 63px 18px 33px;

    @include responsive(ss) {
        width: 50%;
        margin: 0 auto;
    }
}

.btn--featured-white {
    padding: 18px 46px 18px 10px;

    @include responsive(ml) {
        margin-top: 15px;
    }

    @include responsive(ss) {
        width: 50%;
        margin: 10px auto 0 auto;
    }
}

.btn--trade {
    padding: 18px 71px 18px 26px;
}


.reviews__slide-bottom-btn {
    &,
    &:link,
    &:active,
    &:visited {
        font-family: $font-primary;
        font-size: 14px;
        font-weight: bold;
        color: $color-primary-light;
        position: relative;
        text-decoration: none;
        display: block;
        padding-left: 5px;

        &::before {
            content: '';
            width: 17px;
            height: 2px;
            background-color: $color-primary-light;
            position: absolute;
            top: 11px;
            right: -12px;

            @include responsive(ml) {
                right: 11px;
            }
        }

        &::after {
            content: '';
            width: 2px;
            height: 17px;
            background-color: $color-primary-light;
            position: absolute;
            top: 4px;
            right: -4px;

            @include responsive(ml) {
                right: 18px;
            }
        }
    }
}