.about {
    max-width: 1620px;
    margin-top: 118px;

    @include responsive(lg) {
        margin-top: 30px;
    }

    @include responsive(sm) {
        margin-top: 0;
    }
}

.about__row {

    @include responsive(lg) {
        align-items: center;
    }
}

// Left side - content
.about__content {
    padding: 0 35px 0 130px;
    margin-left: 91px;

    @include responsive(lg) {
        padding: 0 35px 0 80px;
    }

    @include responsive(ml) {
        padding: 0;
        margin-left: 50px;
    }

    @include responsive(md) {
        margin-left: auto;
    }
}

.about__content-wrap {
    margin-top: 174px;

    @include responsive(lg) {
        margin-top: 0;
    }

    @include responsive(md) {
        text-align: center;
    }
}

.about__content-heading-wrap {
    position: relative;
}

.about__content-heading-logo {
    position: absolute;
    right: 48px;
    top: -47px;
    z-index: -1;

    @include responsive(md) {
        right: 200px;
    }

    @include responsive(sm) {
        right: 0;
    }
}
 
.about__content-heading {
    padding-bottom: 41px;
}

.about__content-text {
    font-size: 18px;
    color: $color-primary-light;
    max-width: 435px;
    letter-spacing: .4px;

    @include responsive(md) {
        margin: 0 auto;
    }
}

.about__content-btn {
    margin-top: 70px;

    @include responsive(md) {
        margin-top: 30px;
    }
}

// Right side - images
.about__imgs {
    display: flex;
    align-items: center;
    max-width: 50%;

    @include responsive(md) {
        max-width: 100%;
        margin-top: 30px;
    }
}

.about__imgs-container {
    display: flex;
    align-items: center;
}

.about__imgs-right {
    display: flex;
    flex-wrap: wrap;
}

.about__imgs--1 {
    min-width: 225px;
    margin-right: 20px;

    @include responsive(md) {
        min-width: 170px;
    }

    @include responsive(sm) {
        min-width: 150px;
    }

    @include responsive(ss) {
        max-width: 120px;
        min-width: 100px;
    }

    img {
        max-width: 103%;

        @include responsive(md) {
            max-width: 100%;
        }
    }
}

.about__imgs--2 {
    max-width: 477px;
    margin-bottom: 20px;

    @include responsive(md) {
        width: 50%;
        margin-right: 2%;
    }

    img {
        max-width: 100%;
    }
}

.about__imgs--3 {
    width: 50%;
    padding-right: 25px;

    @include responsive(md) {
        width: 39%;
    }

    @include responsive(sm) {
        width: 43%;
    }

    @include responsive(sm) {
        width: 48%;
    }

    img {
        max-width: 100%;
    }
}

.about__imgs--4 {
    width: 50%;

    @include responsive(md) {
        width: 70%;
    }

    @include responsive(sm) {
        width: 76%;
    }

    img {
        max-width: 100%;
    }
}