.clients{
    padding-top: 129px;
    overflow: hidden;

    @include responsive(ml) {
        margin-top: 100px;
    }

    @include responsive(md) {
        margin-top: 70px;
    }

    @include responsive(sm) {
        margin-top: 0;      
    }

    @include responsive(xs) {
        padding-top: 45px;      
    }

    .slick-prev {
        top: -96px;
        right: 98px;

        @include responsive(md) {
            top: -60px;
            right: 378px;
        }

        @include responsive(sm) {
            right: 291px;
            top: -60px;
        }

        @include responsive(xs) {
            right: auto;
            left: 25%;
        }

        @include responsive(ss) {
            left: 15%;
        }

        @include responsive(us) {
            left: 10%;
        }
    }

    .slick-next {
        top: -96px;
        right: -6px;

        @include responsive(ml) {
            top: -96px;
            right: -27px;
        }

        @include responsive(md) {
            top: -60px;
            right: 209px;
        }

        @include responsive(sm) {
            right: 125px;
            top: -60px;
        }

        @include responsive(xs) {
            right: auto;
            left: 75%;
        }

        @include responsive(ss) {
            left: 85%;
        }

        @include responsive(us) {
            left: 90%;
        }
    }

    .slick-dots {
        top: -75px;
        right: 66px;

        @include responsive(ml) {
            right: 39px;
        }

        @include responsive(md) {
            top: -38px;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.clients__top-heading {
    padding-left: 13px;

    @include responsive(md) {
        text-align: center;
        padding-bottom: 20px;
    }

    @include responsive(sm) {
        padding-left: 0;
    }
}

.clients__wrap {
    margin-top: 37px;
    position: relative;
}

.clients__slide-content {
    height: 200px;
    display: flex;
    align-items: center;
}

.clients__slide-img {
    margin: 0 auto;
}