.cover {
    margin-top: 108px;
    padding-bottom: 143px;
}

.cover__info {
    padding-left: 24px;
    max-width: 660px;
}

.cover__info-span {
    font-size: 16px;
    font-weight: bold;
    color: $white;
    letter-spacing: .3px;
}

.cover__info-img {
    margin-top: 47px;
}

.cover__info-btn {
    margin-top: 45px;
    padding-top: 6px;
    height: 70px;
    display: flex;
    align-items: center;

    span {
        font-size: 18px;
        color: $white;
        font-weight: normal;
        letter-spacing: .8px;
        margin-right: 40px;
    }

}