.featured {
    margin-top: 119px;
    overflow: hidden;

    @include responsive(ml) {
        margin-top: 80px;
    }

    @include responsive(xs) {
        margin-top: 30px;       
    }

    .slick-prev {
        top: -68px;
        right: 86px;

        @include responsive(md) {
            top: -83px;
        }

        @include responsive(sm) {
            top: -42px;
            right: 262px;
        }

        @include responsive(xs) {
            right: auto;
            left: 40%;
        }
    }

    .slick-next {
        top: -68px;
        right: 3px;

        @include responsive(md) {
            top: -83px;
        }

        @include responsive(sm) {
            right: 183px;
            top: -42px;
        }

        @include responsive(xs) {
            right: 35%;
        }
    }

    .slick-dots {
        top: -63px;
        right: 45px;

        @include responsive(md) {
            top: -76px;
        }

        @include responsive(sm) {
            right: 226px;
            top: -36px;
        }

        @include responsive(xs) {
            right: 241px;
        }
    }

    .btn__icon {
        top: 51%;

        @media only screen and (max-width: 400px) {
            right: 13px;
        }

        &::before {
            top: 45%;
        }

        &::after {
            top: 45%;
        }
    }
}

.featured__top {
    padding-left: 10px;

    @include responsive(sm) {
        padding-left: 0;
    }
}

.featured__top-heading {
    @include responsive(sm) {
        text-align: center;
    }
}

.featured__wrap {
    margin-top: 44px;

    @include responsive(sm) {
        margin-top: 65px;
    }
}

.featured__slide-img {
    position: relative;
    padding-left: 18px;
    max-height: 450px;
    padding-right: 147px;

    @include responsive(sm) {
        padding-top: 15px;
    }
}

.featured__slide-img-container-1 {
    width: 100%;
    height: 100%;
    position: relative;
}

.featured__slide-img-1 {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 17% 45%;

    @include responsive(ss) {
        object-fit: cover;       
    }
}

.featured__slide-img-container-2 {
    position: absolute;
    right: 33px;
    top: 0;
    max-width: 220px;
    height: 100%;

    @include responsive(sm) {
        max-width: 140px;
    }

    @include responsive(ss) {
        max-width: 100px;       
    }
}

.featured__slide-img-2 {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    @include responsive(ss) {
        width: 90%; 
    }
}

.featured__slide-content {
    padding: 28px 0 0;
    margin-left: -9px;

    @include responsive(md) {
        text-align: center;
        margin-left: auto;
    }
}

.featured__slide-content-top-title {
    font-size: 30px;
    font-family: $font-heading2;
    color: $color-primary-light;
    display: block;
    line-height: 1.2;

    @include responsive(xs) {
        font-size: 25px;
    }

    @include responsive(ss) {
        font-size: 20px;       
    }
}

.featured__slide-content-text {
    font-size: 18px;
    color: $color-primary-light;
    margin-top: 26px;

    @include responsive(xs) {
        font-size: 16px;
        padding: 0 35px;
    }
}

.featured__slide-content-fixture {
    margin-top: 41px;

    @include responsive(md) {
        margin-top: 20px;   
    }
}

.featured__slide-content-fixture-title {
    font-size: 16px;
    color: $color-primary-light;
}

.featured__slide-content-fixture-items {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: $font-heading2;
    color: $color-primary-light;
    margin-top: 18px;

    @include responsive(ss) {
        flex-direction: column;       
    }
}

.featured__slide-content-fixture-items-rfba {
    flex: 1;
    margin-right: 32px;

    @include responsive(ss) {
        margin-right: 0vh;       
    }
}

.featured__slide-content-fixture-items-acrylic {
    position: relative;
    padding-left: 43px;
    flex: 2;

    @include responsive(md) {
        flex: 1;
        padding-left: 0;
    }

    &::before {
        content: '';
        background-image: url(/img/acrylic.png);
        background-repeat: no-repeat;
        position: absolute;
        height: 30px;
        width: 30px;
        top: 0;
        left: 0;

        @include responsive(ss) {
            left: 70px;   
        }
    }
}

.featured__slide-content-fixture-items-stell {
    position: relative;
    padding-left: 45px;
    flex: 2;
    margin-right: 15px;

    @include responsive(md) {
        flex: 1;
        padding-left: 0;
        margin-right: 0;
    }

    &::before {
        content: '';
        background-image: url(/img/steel.png);
        background-repeat: no-repeat;
        position: absolute;
        height: 30px;
        width: 30px;
        top: 0;
        left: 0;

        @include responsive(ss) {
            left: 70px;   
        }
    }
}

.featured__slide-content-btns {
    margin-top: 37px;

    @include responsive(ml) {
        text-align: center;
    }

    @include responsive(md) {
        margin-top: 20px;
    }

    @include responsive(ss) {
        display: flex;
        flex-direction: column;
    }
}

