.green {
    background-color: $color-primary;
    margin-top: 153px;
    padding-bottom: 125px;

    @include responsive(ml) {
        margin-top: 110px;
    }

    @include responsive(md) {
        padding-bottom: 80px;
    }

    @include responsive(sm) {
        margin-top: 45px;
    }
}

.green__container {
    padding-top: 60px;

    @include responsive(md) {
        padding-top: 20px;
    }
}

.green__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.green__content-heading {
    margin-top: 67px;
    padding-left: 7px;

    @include responsive(md) {
        text-align: center;
    }

    @include responsive(ss) {
        padding-left: 0;
        margin-top: 30px;       
    }

    h2 {
        color: $white !important;
    }
}

.green__content-text {
    color: $white;
    padding-left: 10px;
    margin-top: 30px;
    max-width: 440px;

    @include responsive(md) {
        padding-left: 0;
    }

    p {
        margin-bottom: 35px;
    }
}

.green__content-logos {
    margin-top: 47px;
    padding-left: 10px;

    @include responsive(md) {
        margin-top: 0;
        padding-left: 0;
    }

    img {
        margin-right: 35px;

        &:last-child {
            @include responsive(ss) {
                margin-top: 10px;
            }
        }

        @include responsive(xs) {
            margin-right: 10px;
        }
    }
}

.green__content-btn {
    margin-top: 47px;
}

.green__imgs {
    color: $white;
    display: flex;
    justify-content: space-between;
    padding-left: 77px;
    padding-right: 6px;

    @include responsive(ml) {
        padding-left: 20px;
    }

    @include responsive(md) {
        margin-top: 40px;
        padding-left: 0;
    }

    @include responsive(ss) {
        flex-direction: column;
        padding: 0 15px;
    }
}

.green__imgs-asl {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include responsive(ml) {
        margin-right: 11px;
        width: 50%;
    }

    @include responsive(ss) {
        width: 100%;
    }
}

.green__imgs-asl-light {
    width: 100%;
}

.green__imgs-asl-text {
    font-size: 24px;
    font-weight: 500;
    width: 95%;
    margin-top: 28px;
    line-height: 1.3;

    @include responsive(md) {
        width: 100%;
        line-height: inherit;
    }
}

.green__imgs-asl-energy {
    margin: 0 auto;
    margin-top: 43px;
    padding-right: 10px;

    @include responsive(md) {
        padding-right: 0;   
    }
}

.green__imgs-standard {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include responsive(ml) {
        width: 50%;
    }

    @include responsive(ss) {
        width: 100%;
        margin-top: 45px;
    }
}

.green__imgs-standard-light {
    
    @include responsive(ml) {
        width: 100%;
    }
}

.green__imgs-standard-text {
    font-size: 24px;
    font-weight: 500;
    margin-top: 28px;
}

.green__imgs-standard-energy {
    margin: 0 auto;
    margin-top: 66px;
    padding-left: 15px;

    @include responsive(md) {
        padding-left: 0;
        margin-top: 43px;
    }

    @include responsive(sm) {
        margin-top: 78px;
    }

    @include responsive(ss) {
        margin-top: 43px;       
    }
}