// SubNav

.subNav {
    list-style: none;
    display: flex;
    padding: 3px 10px 0 10px;

    @include responsive(ml) {
        display: none;
    }
}

.subNav__item {
    letter-spacing: .4px;

    &:not(:last-child) {
        padding: 0 22px 0 3px;
    }

    &:first-child {
        &:hover {
            .subNav__link-res-drop {
                display: block;
            }
        }   
    }

    &:last-child {
        &:hover {
            .subNav__link-acc-drop {
                display: block;
            }
        }   
    }
}

.subNav__link-res {
    
    position: relative;
    margin-right: 15px;

    &::after {
        content: '\f078';
        position: absolute;
        top: 4px;
        right: -16px;
        font-family: $icons;
        font-weight: 900;
        font-size: 9px;
    }
}

.subNav__link-acc {
    position: relative;

    &::after {
        content: '\f078';
        position: absolute;
        top: 4px;
        right: -18px;
        font-family: $icons;
        font-weight: 900;
        font-size: 9px;
    }
}

.subNav__link {
    &,
    &:link,
    &:active,
    &:visited {
        text-decoration: none;
        color: $light-blue;
        font-size: 14px;
    }
}


// SubNav dropdown menu
.subNav__link-res-drop,
.subNav__link-acc-drop {
    text-align: center;
    position: absolute;
    background-color: $color-primary-light;
    padding-bottom: 10px;
    z-index: 1;
    display: none;
}

.subNav__link-res-drop-list,
.subNav__link-acc-drop-list {
    list-style: none;
}

.subNav__link-res-drop-item,
.subNav__link-acc-drop-item {
    padding: 5px 30px;
}

.subNav__link-res-drop-link,
.subNav__link-acc-drop-link {
    &,
    &:link,
    &:visited,
    &:active {
        color: $light-blue;
        font-size: 14px;
        text-decoration: none;
    }
}


// Big nav

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;

    i {
        font-size: 17px;
    }

    @include responsive(ml) {
        display: none;
    }
}

.navItem {
    padding: 21px 41px 27px 41px;
    position: relative;

        &::after {
            content: '';
            width: 0;
            height: 4px;
            position: absolute;
            opacity: 0;
            transition: .5s ease;
            background-image: $gradient;
            bottom: -16px;
            left: 0;
        }

        &:hover {
            &::after {
                opacity: 1;
                width: 100%;
            }
            .navLink {
                color: $yellow;
            }
        }

    &:last-child {
        padding-right: 0;
        padding-left: 30px;
    }
}

.navLink {
    &,
    &:link,
    &:active,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        color: $white;
        display: inline-block;
        letter-spacing: 1px;
    }
}


// Small nav

.miniNav {
    position: absolute;
    top: 40%;
    right: 50px;
    transform: translateY(-50%);
    display: none;

    @include responsive(ml) {
        display: block;
    }
}

.miniNav-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 35px;
    height: 2px;
    background-color: $white;

    &::before {
        content: '';
        height: 2px;
        width: 35px;
        background-color: $white;
        position: absolute;
        top: 10px;
    }

    &::after {
        content: '';
        height: 2px;
        width: 35px;
        background-color: $white;
        position: absolute;
        bottom: 10px;
    }
}


// Sticky navbar 

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $color-primary;
    padding-top: 20px;
    z-index: 100;
}