.slider {
    padding: 0;

    @include responsive(lg) {
        margin-bottom: 0px;
    }

    .slick-prev {
        left: 47%;

        @include responsive(lg) {
            left: 46%;
        }

        @include responsive(ml) {
            left: 45%;
        }

        @include responsive(md) {
            left: 42%;
        }

        @include responsive(sm) {
            left: 40%;
        }

        @include responsive(xs) {
            left: 40px;
        }
    }

    .slick-next {
        left: 53%;

        @include responsive(lg) {
            left: 54%;
        }

        @include responsive(ml) {
            left: 55%;
        }

        @include responsive(md) {
            left: 60%;
        }

        @include responsive(xs) {
            right: -6px;
            left: auto;
        }
    }

    .slick-dots {
        bottom: -79px;
        left: 50%;
    }
}

.slider__container {
    width: 100%;
    max-width: 1870px;
    margin: 72px auto 0 auto;
}

.slider__fluid {
    min-height: 800px;
    overflow: hidden;

    @include responsive(md) {
        height: 730px;   
    }
}

.slider__wrap {
    padding-left: 15px;
    padding-right: 15px;

    @include responsive(lg) {
        padding-left: 7px;
    }
}

.slider__box {
    background-color: $light-blue2;
    position: relative;
    width: 450px;
    min-width: 250px;
    min-height: 700px;
    flex: 1;
    transition: .3s ease;

    @include responsive(lg) {
        height: auto;
        min-height: 615px;
    }

    @include responsive(xs) {
        min-height: 530px;    
    }

    &::before {
        content: '';
        height: 100%;
        width: 3px;
        position: absolute;
        top: 0;
        left: 0;
        background: $gradient-vertical;
    }

    &:hover {
        background-color: $color-primary;

        .slideHeading {
            color: $yellow;
        }

        .slideDesc {
            color: $white;
        }

        .slideBtn {
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gradient;
        }

        .slideIcon {
            img {
                &:last-child {
                    display: block;
                }

                &:first-child {
                    display: none;
                }
            }
        
            &::before {
                background: $gradient;

            }

            &::after {
                background: $gradient;
            }
        }
    }
}


.slider__slide {
    padding: 30px 30px 30px 47px;

    @include responsive(lg) {
        padding: 30px 20px;
    }

    @include responsive(md) {
        padding: 30px 40px;
    }
}

// Fix gap on elements in slider
.slick-slide {
    margin: 0 25px;

    @include responsive(lg) {
        margin: 0 15px;
    }
}

.slick-track {
    overflow: hidden;
}

.slick-list {
    margin: 0 -27px;
}

.slider__slide-img {
    height: 350px;
    padding-top: 50px;
    margin-bottom: 20px;

    @include responsive(lg) {
        padding-top: 30px;
        margin-bottom: 0;
        height: 280px;
    }

    @include responsive(sx) {
        padding-top: 0;
    }
}

.slideImg {
    max-height: 320px;
    width: 260px;
    max-width: 100%;
    margin: 0 auto;
    display: block;

    @include responsive(lg) {
        max-height: 230px;
        width: auto;
    }
}

.slider__slide-content {

    @include responsive(lg) {
        margin-top: 25px;
    }

    @include responsive(sx) {
        margin-top: 0;
    }
}

.slider__slide-content-top {
    height: 125px;
    margin-bottom: 25px;
    margin-top: 67px;

    @include responsive(lg) {
        margin-top: 20px;
        margin-bottom: 0;
    }

    @include responsive(xs) {
        height: auto;    
    }

    @include responsive(sx) {
        margin-top: 0;
    }
}

.slideHeading {
    margin-bottom: 15px;
    letter-spacing: .7px;

    @include responsive(lg) {
        height: 110px;
    }

    @include responsive(ss) {
        height: 90px;       
    }

    
    @include responsive(sx) {
        margin-bottom: 0;
    }

    @include responsive(xs) {
        margin-bottom: 30px;   
        height: auto;   
    }
}

.slideDesc {
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: .4px;
    height: 100px;

    @include responsive(lg) {
        margin-top: 5px;
    }

    @include responsive(sx) {
        margin-top: 0;
    }

    @include responsive(xs) {
        margin-bottom: 30px;     
        height: auto; 
    }

}

.slider__slide-content-bottom {
    margin-top: 35px;
    position: relative;
    padding-left: 8px;

    @include responsive(lg) {
        margin-top: 60px;
        padding-left: 0;
    }

    @include responsive(sx) {
        margin-top: 0;
    }
}

