.slider {
    padding: 0;
    max-width: 100%;
}

.slider__container {
    width: 100%;
    max-width: 1870px;
    margin: 72px auto 0 auto;
}

.slider__wrap {
    display: flex;
    padding-left: 20px;
    padding-right: 0;
    width: 100%;
    max-height: 700px;
}

.slider__box {
    background-color: $light-blue2;
    position: relative;
    width: 25%;
    min-width: 250px;
    height: 700px;
    flex: 1;
    transition: .3s ease;

    &:not(:last-child) {
        margin-right: 45px;
    }

    &::before {
        content: '';
        height: 100%;
        width: 3px;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to top, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%);
    }

    &:hover {
        background-color: $dark-blue;

        .slideHeading {
            color: $yellow;
        }

        .slideDesc {
            color: $white;
        }

        .slideBtn {
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%);
        }
    }
}

.slider__slide {
    padding: 30px 50px 30px 35px;
}

// Fix gap on elements in slider
.slick-slide {
    margin: 0 27px;
}

.slick-list {
    margin: 0 -27px;
}

.slider__slide-img {
    height: 350px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.slideImg {
    max-height: 320px;
    width: 260px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.slider__slide-content-top {
    height: 125px;
    margin-bottom: 25px;
    margin-top: 67px;
}

.slideHeading {
    margin-bottom: 15px;
    letter-spacing: .7px;
}

.slideDesc {
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: .4px;
}

.slider__slide-content-bottom {
    margin-top: 45px;
    position: relative;
}

// Dots for slick slider
.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -83px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;

        button {
            display: block;
            border: 1px solid black;
            border-radius: 50%;
            background-color: transparent;
            height: 7px;
            width: 7px;
            margin: 0 4px;
        }

        li.slick-active button {
            background-color: black;
        }
    
        li button {
            font-size: 0;
        }
}

// Arrows for slick slider
.slick-arrow {
    position: absolute;
    bottom: -84px;
    height: 30px;
    width: 30px;
    font-size: 0;
    border: none;
    left: 51%;
    transform: translateX(-51%);
}

.slick-prev {
    position: absolute;
    left: 48%;

    // Arrow
    &::before {
        content: '\f060';
        font-family: $icons;
        font-weight: 900;
        color: $white;
        font-size: 15px;
        position: absolute;
        top: -1px;
        left: -7px;
        z-index: 3;
    }

    // Circle
    &::after {
        content: '\f111';
        font-family: $icons;
        font-weight: 900;
        font-size: 50px;
        position: absolute;
        top: -28px;
        left: -26px;
    }
}

.slick-next {
    position: absolute;
    left: 52%;

    // Arrow
    &::before {
        content: '\f061';
        font-family: $icons;
        font-weight: 900;
        color: $white;
        font-size: 15px;
        position: absolute;
        top: -1px;
        left: 24px;
        z-index: 3;
    }

    // Circle
    &::after {
        content: '\f111';
        font-family: $icons;
        font-weight: 900;
        font-size: 50px;
        position: absolute;
        top: -28px;
        left: 7px;
    }
}