// General settings for slider docs and arrows 
.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
    list-style: none;

        button {
            display: block;
            border: 1px solid black;
            border-radius: 50%;
            background-color: transparent;
            height: 7px;
            width: 7px;
            margin: 0 4px;
        }

        li.slick-active button {
            background-color: black;
        }
    
        li button {
            font-size: 0;
        }
}

// Arrows for slick slider
.slick-arrow {
    bottom: -84px;
    height: 50px;
    width: 50px;
    font-size: 0;
    border: none;
    transform: translateX(-50%);
}

.slick-prev {
    position: absolute;
    background-color: transparent;

    &:hover {

        &::after {
            background-image: url('/img/circle-color.png');
            border: none;
        }
    }

    // Arrow
    &::before {
        content: '\f060';
        font-family: $icons;
        font-weight: 900;
        color: $white;
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        color: black;
    }

    // Circle
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid black;
    }
}

.slick-next {
    position: absolute;
    background-color: transparent;

    &:hover {

        &::after {
            background-image: url('/img/circle-color.png');
            border: none;
        }
    }

    // Arrow
    &::before {
        content: '\f061';
        font-family: $icons;
        font-weight: 900;
        color: $white;
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        color: black;
    }

    // Circle
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid black;
    }
}