.trade {
    display: flex;
    // background-image: url(/img/trade.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    height: 713px;
    margin-top: 114px;
    position: relative;

    @include responsive(ml) {
        margin-top: 70px;
    }
}

.trade__img {
    position: absolute;
    top: 0;
    right: 0;
}

.trade__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    z-index: 1;
}

.trade__content {
    max-width: 650px;
    height: auto;
    padding-top: 53px;
}

.trade__content-heading {
    padding-left: 5px;
    padding-bottom: 37px;

    h2 {
        color: $white;
    }
}

.trade__content-text {
    padding-left: 6px;
    
    p {
        color: $white;
    }
}

.trade__content-btn {
    margin-top: 81px;
    padding-left: 10px;
}