// Colors
$light-blue: #d8ebf7;
$light-blue2: #eff2f4;
$dark-blue: #1e1b2c;
$white: #fff;
$gold: #847144;
$yellow: #ffd86a;
$silver: #6c6b78;
$bronze: #d78772;

$color-primary-light: #2e2b3d;
$color-primary: #191723;

// Gradient
$gradient: linear-gradient(to left, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%);
$gradient-vertical: linear-gradient(to top, #ffd86a 0%, #fff8e4 43%, #b4e2ff 100%);